<!--Footer with open block field.-->
  <footer id="footer" class="site-footer nection">
		
	<section class="site-footer__links">
      <div class="sqs-layout sqs-grid-12 columns-12" data-type="block-field" data-updated-on="1447090435758" id="footerLinks">
        <div class="row sqs-row">
          <div class="col sqs-col-12 span-12">
            <div class="row sqs-row mxflink">
			<nav posstion="middle" order="sort DESC"> 
			  <div class="dbdh">
                <div class="sqs-block html-block sqs-block-html mxfdiv" data-block-type="2" id="block-0ccb3c236c8fcffdaa93">
                  <div class="sqs-block-content">
				    <p class="text-align-left mxfnav">{$nav_name}<span class="arrow down"></span></p>
					<div class="mxfsubnav">
					<volist name="child" id="nc">
					   <a href="{$nc.link}">{$nc.nav_name}</a><br />
					</volist>
					</div>
				  </div>
                </div>
              </div>
			</nav>
			</div>
           </div>
        </div>
	  </div>
    </section>
	
	<section class="site-footer__meta">
      <div class="sqs-layout sqs-grid-12 columns-12" data-type="block-field" data-updated-on="1448929361320" id="metaBlocks">
        <div class="row sqs-row">
          <div class="col sqs-col-12 span-12">
            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-719c5b397f46bcf5af51">
			
			<div class="bdsharebuttonbox fxdm">
				<a href="#" class="bds_more" data-cmd="more"></a>
				<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
				<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
				<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
				<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
				<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
			</div>
			
			<div class="dbnr">
              <div class="sqs-block-content dbwz">
                <p>浙江海之梦集团<br />
                  地址：浙江省台州市黄岩江口工业食品开发园区内<br/>手机：13706572779&nbsp;&nbsp;&nbsp;电话：0576-89166065&nbsp;&nbsp;&nbsp;传真：0576-89166065&nbsp;<br />Q Q：1939862&nbsp;&nbsp;&nbsp;邮箱：1939862@qq.com<br />
                  <em>Copyright &copy; 2016 ZheJiang Ocean Dream Group All Rights Reserved.</em></p>
              </div>
			  <div class="dbewm">
				<span><img src="/documents/appxz.jpg"><p>公众微信号</p></span>
			    <span><img src="/documents/wxewm.jpg"><p>APP下载</p></span>
			  </div>
			</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </footer>
</div>
<!-- .body --> 

<!--Combo and minify the scripts when you're not logged in.--> 
<script type="text/javascript" src="/documents/site.js"></script> 
<script type="text/javascript" src="/documents/jquery.js"></script>
<script type="text/javascript" src="/documents/jquery.min.js"></script>
<script type="text/javascript" src="/documents/mxf.js"></script>
<!--Injection point for tracking scripts and user content from the code injection tab.--> 
<script type="text/javascript" data-sqs-type="imageloader-bootstraper">(function() {if(window.ImageLoader) { window.ImageLoader.bootstrap(); }})();</script>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script> 
<script>Squarespace.afterBodyLoad(Y);</script>
<div style="display:none">{$site.tongji}</div>
</body>
</html>
