<!-- Begin Inspectlet Embed Code --> 
<script type="text/javascript" id="inspectletjs">
    window.__insp = window.__insp || [];
    __insp.push(['wid', 1561238184]);
    (function() {
    function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://www.chinahzm.cn//theme/js/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
    if (window.attachEvent) window.attachEvent('onload', __ldinsp);
    else window.addEventListener('load', __ldinsp, false);
    })();
    </script>
<header>
<div id="side">
<a href="/index.php/Home/Index?l=zh-cn" class="logo"> <img src="theme/img/logo.png"> </a> <a href="#" class="menu-button"><span>menu</span></a>
<div class="side-content scrollable">
<div class="scroll-hack">
<div class="top"> <a href="/index.php/Home/Index?l=zh-cn"> <img src="/img/2.png" class="logoxin">
  <p><b>中国驰名商标</b><br>
    Well-Known Trademark</p>
  </a> </div>
<div class="leftsidebar_box">
<dl>
  <dt><a href="/index.php/Home/Index?l=zh-cn">首页</a></dt>
</dl>
<nav posstion="middle" order="sort DESC">
<dl>
<dt onClick="changeImage()">{$nav_name}</dt>
<notempty name="child">
  <volist name="child" id="nc">
    <dd> <a href="{$nc.link}">{$nc.nav_name}</a> </dd>
  </volist>
</notempty>
</dl>
</nav>
<div class="lianxhsd">
  <ul>
    <li>免费咨询热线</li>
    <li><b>400-926-0070</b></li>
    <li style="margin:10px 0"><a href="http://wpa.qq.com/msgrd?v=3&uin=215654740&site=qq&menu=yes" target="_blank"><img title="点击这里给我发消息" alt="联系我" src="http://wpa.qq.com/pa?p=2:215654740:42" border="0" /></a></li>
    <li>电话：0576-88027625</li>
    <li>QQ：<a href="http://wpa.qq.com/msgrd?v=3&uin=2499013353&site=qq&menu=yes" target="_blank">215654740</a></li>
    <li>传真：0576-88027656</li>
    <li>邮箱：info@chinadoso.com</li>
    <li>地址：浙江 台州 椒江区 滨海工业园区 B区 海丰路2229号</li>
  </ul>
</div>
<div class="guojias">
  <ul>
    <li><a href="/index.php/Home/Index?l=zh-cn"><img src="/img/1-9.png"></a></li>
    <li><a href="/index.php/Home/Index?l=en-us"><img src="/img/1-10.png"></a></li>
    <li><a href="/index.php/Home/Index?l=ru"><img src="/img/1-11.png"></a></li>
    <li><a href="/index.php/Home/Index?l=spain"><img src="/img/1-12.png"></a></li>
  </ul>
</div>
</div>
<div class="bottom">
  <div class="erwenba">
    <ul>
      <li><a href="/app/"><img src="/img/APP.jpg"></a></li>
      <li><a href="/wx/"><img src="/img/winxin.jpg"></a></li>
    </ul>
  </div>
  <p>Copyright &copy; 2012 Zhejiang Omori sewing machine limited company All Rights Reserv, ICP </p>
  <!-- ul class="bottom-btn">
            <li><a href="/" class="button btn-2 panier"></a></li>
            <li class="button btn-2 btn-opt"> <a href="/" class="active"></a> | <a href="/"></a> </li>
            <li class="button btn-2 btn-opt lang"></li>
            <div class="clear"></div>
          </ul --> 
</div>
</div>
</div>
</div>
</header>