<!DOCTYPE html>
<html lang="fr" class="touch nojs">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/theme/css/main.css">
<link rel="stylesheet" href="/theme/css/tablet.css">
<link rel="stylesheet" href="/theme/css/mobile.css">
<link rel="stylesheet" href="/theme/css/jquery.custom-scrollbar.css">
<script src="/theme/js/modernizr.custom.66593.js"></script>
<script src="/theme/js/jquery-1.11.1.min.js"></script>
<script src="/theme/js/jquery.custom-scrollbar.js"></script>
<script src="/theme/js/hammer.min.js"></script>
<script src="/theme/js/fastclick.js"></script>
<script src="/theme/js/script.js"></script>
<title>doso La máquina de coser - Es una empresa especializada en la producción de máquinas de coser, máquina de coser, máquina automática de la plantilla de la máquina de coser, máquina de coser, cortar, electrónica</title>
<base href="http://www.chinahzm.cn/" />
<meta name="Keywords" content="La máquina de coser,doso La máquina de coser" />
<meta name="Description" content="Es una empresa especializada en la producción de máquinas de coser, máquina de coser, máquina automática de la plantilla de la máquina de coser, máquina de coser, cortar, electrónica" />

</head><body>

<!-- Begin Inspectlet Embed Code --> 
<script type="text/javascript" id="inspectletjs">
    window.__insp = window.__insp || [];
    __insp.push(['wid', 1561238184]);
    (function() {
    function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://www.chinahzm.cn/theme/js/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
    if (window.attachEvent) window.attachEvent('onload', __ldinsp);
    else window.addEventListener('load', __ldinsp, false);
    })();
    </script> 


<header>
  <div id="side"> <a href="/index.php/Index/sIndex?l=spain" class="logo"> <img src="/theme/img/logo.png"> </a> <a href="#" class="menu-button"><span>menu</span></a>
    <div class="side-content scrollable">
      <div class="scroll-hack">
        <div class="top">
          <a href="/index.php/Index/sIndex?l=spain">
          <img src="/img/2.png" class="logoxin">
          
          <p><b>中国驰名商标</b><br>Well-Known Trademark</p>
          </a>
        </div>

        

	<div class="leftsidebar_box">
	    <dl>
			 <dt><a href="/index.php/Index/sIndex?l=spain">La</a></dt>

		</dl>
		
<nav posstion="middle" order="sort DESC">
<dl>
<dt onClick="changeImage()">{$nav_name}</dt>
<notempty name="child">
  <volist name="child" id="nc">
    <dd> <a href="{$nc.link}">{$nc.nav_name}</a> </dd>
  </volist>
</notempty>
</dl>
</nav>
	
	


          <!-- nav>
            <ul>
              <li><a href="/index.html">首页</a> </li>
              <li><a href="#">走进大森</a>
                <ul>
                  <li> <a href="/About-us/">公司简介</a> </li>
                  
                </ul>
            </ul>
          </nav -->
          <div class="lianxhsd">
          <ul>
          <li>FREE PHONE</li>
    <li><b>400-926-0070</b></li>
    <li style="margin:10px 0"><a href="skype:CHINADOSO?call" target="_blank"><img style="border: none;" alt="My status"  src="/img/SKYPE.png" border="0" /></a></li>
    <li>Tel：0576-88027625</li>
    <li>skype：<a href="skype:CHINADOSO?call" target="_blank">CHINADOSO</a></li>
    <li>Fax：0576-88027656</li>
    <li>Correo：info@chinadoso.com</li>
    <li>Añadir：No.2229 Haifeng Rd.B.Dist.Binhai Industrial Zone Taizhou Zhejiang China </li>


          </ul>
          </div>
          <div class="guojias">
          <ul>
<li><a href="/index.php/Home/Index?l=zh-cn"><img src="/img/1-9.png"></a></li>
<li><a href="/index.php/Index/eindex?l=en-us"><img src="/img/1-10.png"></a></li>
<li><a href="/index.php/Index/rIndex?l=ru"><img src="/img/1-11.png"></a></li>
<li><a href="/index.php/Index/sIndex?l=spain"><img src="/img/1-12.png"></a></li>

          </ul>
          </div>
          <!-- ul class="social">
            <li></li>
          </ul>
          <div class="club"> <a href="/" class="button btn-2"></a> </div -->
        </div>
        <div class="bottom">

        <p>Copyright &copy; 2012 Zhejiang Omori sewing machine limited company All Rights Reserv, ICP </p>
          <!-- ul class="bottom-btn">
            <li><a href="/" class="button btn-2 panier"></a></li>
            <li class="button btn-2 btn-opt"> <a href="/" class="active"></a> | <a href="/"></a> </li>
            <li class="button btn-2 btn-opt lang"></li>
            <div class="clear"></div>
          </ul -->
        </div>
      </div>
    </div>

  </div>
</header>

<div id="content"> 



<div class="content-slider homepage">
    <ul class="data"  style="background:url(/img/home/slider-1.jpg) no-repeat">
      
      <li data="slider-page-1">
        <div>
          <p class="above-heading">La plantilla de automática de la máquina de coser</p>
          <h3>DS-9880</h3>
          <a href="http://www.chinahzm.cn/index.php/product/sread/id/464" class="button">Detalle</a> </div>
      </li>
      
     
      <li data="slider-page-2">
        <div>
          <p class="above-heading">Máquinas de coser una serie</p>
          <h3>DS-787-01CB/EUT</h3>
          <a href="http://www.chinahzm.cn/index.php/product/sread/id/465" class="button">Detalle</a> 
        </div>
      </li>
      
      
      <li data="slider-page-3">
        <div>
          <p class="above-heading">La transmisión directa de alta velocidad para el corte de la línea de la máquina de coser</p>
          <h3>DS-900-4AT-EUT</h3>
          <a href="http://www.chinahzm.cn/index.php/product/sread/id/466" class="button">Detalle</a> </div>
      </li>
      
      <!--  class="slider-dark" -->
      <li data="slider-page-4">
        <div>
          <p class="above-heading">La computadora de transmisión directa de la máquina de coser</p>
          <h3>DS-9620QGD-3</h3>
          <a href="http://www.chinahzm.cn/index.php/product/sread/id/467" class="button">Detalle</a> </div>
      </li>
    </ul>
    <ul class="thumbs">

      <li><a href="#" data="slider-page-1"><img src="/img/home/1-1.jpg" alt="thumb01"></a></li>
      <li><a href="#" data="slider-page-2"><img src="/img/home/1-2.jpg" alt="thumb02"></a></li>
      <li><a href="#" data="slider-page-3"><img src="/img/home/1-3.jpg" alt="thumb03"></a></li>
      <li><a href="#" data="slider-page-4"><img src="/img/home/1-4.jpg" alt="thumb04"></a></li>
    </ul>
  </div>


</div>

<script src="/theme/js/app.js"></script>
<div style="display:none"><script src="http://s4.cnzz.com/stat.php?id=1255818854&web_id=1255818854" language="JavaScript"></script></div>

</body>
</html>