<!DOCTYPE html>
<html lang="fr" class="touch nojs">
<meta charset="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{$site.description},{$info['description']}" />
<meta name="keywords" content="{$site.keyword},{$info['keywords']}" />
<link rel="stylesheet" href="/theme/css/main.css">
<link rel="stylesheet" href="/theme/css/tablet.css">
<link rel="stylesheet" href="/theme/css/mobile.css">
<link rel="stylesheet" href="/theme/css/jquery.custom-scrollbar.css">
<script src="/theme/js/modernizr.custom.66593.js"></script>
<script src="/theme/js/jquery-1.11.1.min.js"></script>
<script src="/theme/js/jquery.custom-scrollbar.js"></script>
<script src="/theme/js/hammer.min.js"></script>
<script src="/theme/js/fastclick.js"></script>
<script src="/theme/js/script.js"></script>
<title>{$webtitle}-ZHEJIANG DOSO SEWING MACHINE CO.,LTD.</title>
</head><body>

<!-- Begin Inspectlet Embed Code --> 
<script type="text/javascript" id="inspectletjs">
    window.__insp = window.__insp || [];
    __insp.push(['wid', 1561238184]);
    (function() {
    function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://www.chinahzm.cn/theme/js/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
    if (window.attachEvent) window.attachEvent('onload', __ldinsp);
    else window.addEventListener('load', __ldinsp, false);
    })();
    </script>
<header>
<div id="side">
<a href="/index.php/Index/sIndex?l=spain" class="logo"> <img src="/theme/img/logo.png"> </a> <a href="#" class="menu-button"><span>menu</span></a>
<div class="side-content scrollable">
<div class="scroll-hack">
<div class="top"> <a href="/index.php/Index/sIndex?l=spain"> <img src="/img/2.png" class="logoxin">
  <p><b>中国驰名商标</b><br>
    Well-Known Trademark</p>
  </a> </div>
<div class="leftsidebar_box">
<dl>
  <dt><a href="/index.php/Index/sIndex?l=spain">La</a></dt>
</dl>
<nav posstion="middle" order="sort DESC">
<dl>
<dt onClick="changeImage()">{$nav_name}</dt>
<notempty name="child">
  <volist name="child" id="nc">
    <dd> <a href="{$nc.link}">{$nc.nav_name}</a> </dd>
  </volist>
</notempty>
</dl>
</nav>
<div class="lianxhsd">
  <ul>
    <li>FREE PHONE</li>
    <li><b>400-926-0070</b></li>
    <li style="margin:10px 0"><a href="skype:CHINADOSO?call" target="_blank"><img style="border: none;" alt="My status"  src="/img/SKYPE.png" border="0" /></a></li>
    <li>Tel.：0576-88027625</li>
    <li>skype：<a href="skype:CHINADOSO?call" target="_blank">CHINADOSO</a></li>
    <li>Fax：0576-88027656</li>
    <li>Correo：info@chinadoso.com</li>
    <li>Añadir：No.2229 Haifeng Rd.B.Dist.Binhai Industrial Zone Taizhou Zhejiang China </li>

  </ul>
</div>
<div class="guojias">
  <ul>
<li><a href="/index.php/Home/Index?l=zh-cn"><img src="/img/1-9.png"></a></li>
<li><a href="/index.php/Index/eindex?l=en-us"><img src="/img/1-10.png"></a></li>
<li><a href="/index.php/Index/rIndex?l=ru"><img src="/img/1-11.png"></a></li>
<li><a href="/index.php/Index/sIndex?l=spain"><img src="/img/1-12.png"></a></li>
  </ul>
</div>
</div>
<div class="bottom">

  <p>Copyright &copy; 2012 Zhejiang Omori sewing machine limited company All Rights Reserv, ICP </p>
  <!-- ul class="bottom-btn">
            <li><a href="/" class="button btn-2 panier"></a></li>
            <li class="button btn-2 btn-opt"> <a href="/" class="active"></a> | <a href="/"></a> </li>
            <li class="button btn-2 btn-opt lang"></li>
            <div class="clear"></div>
          </ul --> 
</div>
</div>
</div>
</div>
</header>

<div id="content">
  <div class="shop"><div class="newsflsm"></div>
    <div class="banner">
      <p class="above-heading">JOURNALISM</p>
      <h2 class="donghua">{$Think.lang.T_NEWS}</h2>
    </div>
    <div class="daohsngas">
      <div class="zhhjahsjd"> <a href="/index.php/Index/sIndex?l=spain" class="icon_meta">{$Think.lang.T_HOME}</a> - <a href='{:U("news/sindex")}' class="icon_meta">{$Think.lang.T_NEWS}</a> -
        {$info['title']} </div>
      <div class="jahszhhjd">FREE PHONE:<b> 400-926-0070 </b> 
        <!-- form id="search" action="#" class="sousid" />
            <fieldset>
                <input type="text" name="search" class="txtsid" />
                <input type="submit" value="搜 索"  class="qdisjjd" />
            </fieldset>
       </form --> 
      </div>
    </div>
    <div class="chanpnr donghua">
      <div class="angwzhnr">
        <h1>{$info.title}</h1>
        <div class="bihsgd">El autor：{$auther}  El tiempo：{:date('Y-m-d',$info['published'])} Haga clic en：{$Think.lang.T_VIEWTIMES}:{$info['click']}</div>
        <div class="nhhsgfa"> {$info['content']} </div>
      </div>
      <div class="wzhangnr">
        <div class="xiaolians">
        <dl>
          <a href="/index.php/page/sindex/name/re"><dt><img src="http://www.chinahzm.cn/img/1-1.jpg"></dt></a>
          <a href="/index.php/page/sindex/name/rd"><dd><div class="whsgd"><p>公司荣誉</p><h1>Honor.</h1></div><img src="http://www.chinahzm.cn/img/1-2.jpg"></dd></a>
          <a href="/index.php/page/sindex/name/aggjm"><dd><div class="whsgd"><p>联系大森</p><h1>Contacto DOSO</h1></div><img src="http://www.chinahzm.cn/img/1-3.jpg"></dd></a>
       </dl>
       <ul>
          <a href="/index.php/product/sindex"><li><div class="whsgd"><p>大森产品</p><h1>DOSO Producto</h1></div><img src="http://www.chinahzm.cn/img/1-4.jpg"></li></a>
          <a href="/index.php/page/sindex/name/jhksus"><li><div class="whsgd"><p>销售网络</p><h1>Red de ventas</h1></div><img src="http://www.chinahzm.cn/img/1-6.jpg"></li></a>
          <a href="/index.php/page/sindex/name/aggtm"><li><div class="whsgd"><p>产品视频</p><h1>Video de producto</h1></div><img src="http://www.chinahzm.cn/img/1-5.jpg"></li></a>
          <a href="/index.php/page/sindex/name/jhkukus"><li><div class="whsgd"><p>售后服务</p><h1>Servicio postventa</h1></div><img src="http://www.chinahzm.cn/img/1-7.jpg"></li></a>
       </ul>

        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="popup">
      <div class="black-bg">
        <div class="content"></div>
      </div>
    </div>
  </div>


<div class="footer">
    <footer style="background-image:url(/img/banner-bg.jpg);background-repeat: no-repeat; background-size: cover; background-position: center center; height:150px">
      <div class="clear"></div>
    </footer>
  </div>
</div>
<script src="/theme/js/app.js"></script>
<div style="display:none"><script src="http://s4.cnzz.com/stat.php?id=1255818854&web_id=1255818854" language="JavaScript"></script></div>
</body>
</html>