<!DOCTYPE html>
<html lang="fr" class="touch nojs">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{$site.description},{$info['description']}" />
<meta name="keywords" content="{$site.keyword},{$info['keywords']}" />
<link rel="stylesheet" href="/theme/css/main.css">
<link rel="stylesheet" href="/theme/css/tablet.css">
<link rel="stylesheet" href="/theme/css/mobile.css">
<link rel="stylesheet" href="/theme/css/jquery.custom-scrollbar.css">
<script src="/theme/js/modernizr.custom.66593.js"></script>
<script src="/theme/js/jquery-1.11.1.min.js"></script>
<script src="/theme/js/jquery.custom-scrollbar.js"></script>
<script src="/theme/js/hammer.min.js"></script>
<script src="/theme/js/fastclick.js"></script>
<script src="/theme/js/script.js"></script>
<title>{$webtitle}-ZHEJIANG DOSO SEWING MACHINE CO.,LTD.</title>
</head><body>

<!-- Begin Inspectlet Embed Code --> 
<script type="text/javascript" id="inspectletjs">
    window.__insp = window.__insp || [];
    __insp.push(['wid', 1561238184]);
    (function() {
    function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://www.chinahzm.cn/theme/js/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
    if (window.attachEvent) window.attachEvent('onload', __ldinsp);
    else window.addEventListener('load', __ldinsp, false);
    })();
    </script> 

<header>
  <div id="side"> <a href="/index.php/Index/sIndex?l=spain" class="logo"> <img src="/theme/img/logo.png"> </a> <a href="#" class="menu-button"><span>menu</span></a>
    <div class="side-content scrollable">
      <div class="scroll-hack">
        <div class="top">
          <a href="/index.php/Index/sIndex?l=spain">
          <img src="/img/2.png" class="logoxin">
          
          <p><b>中国驰名商标</b><br>Well-Known Trademark</p>
          </a>
        </div>

        

	<div class="leftsidebar_box">
	    <dl>
			<dt><a href="/index.php/Index/sIndex?l=spain">La</a></dt>
		</dl>
		<nav posstion="middle" order="sort DESC">
<dl>
<dt onClick="changeImage()">{$nav_name}</dt>
<notempty name="child">
  <volist name="child" id="nc">
    <dd> <a href="{$nc.link}">{$nc.nav_name}</a> </dd>
  </volist>
</notempty>
</dl>
</nav>
          <div class="lianxhsd">
          <ul>
          <li>El teléfono gratuito:</li>
          <li><b>400-926-0070</b></li>
    <li style="margin:10px 0"><a href="skype:CHINADOSO?call" target="_blank"><img style="border: none;" alt="My status"  src="/img/SKYPE.png" border="0" /></a></li>
    <li>Tel.：0576-88027625</li>
    <li>skype：<a href="skype:CHINADOSO?call" target="_blank">CHINADOSO</a></li>
          <li>Fax：0576-88027656</li>
          <li>El correo：info@chinadoso.com</li>
          <li>La adición de：No.2229 Haifeng Rd.B.Dist.Binhai Industrial Zone Taizhou Zhejiang China</li>
          </ul>
          </div>
          <div class="guojias">
          <ul>
<li><a href="/index.php/Home/Index?l=zh-cn"><img src="/img/1-9.png"></a></li>
<li><a href="/index.php/Index/eindex?l=en-us"><img src="/img/1-10.png"></a></li>
<li><a href="/index.php/Index/rIndex?l=ru"><img src="/img/1-11.png"></a></li>
<li><a href="/index.php/Index/sIndex?l=spain"><img src="/img/1-12.png"></a></li>
          </ul>
          </div>

        </div>
        <div class="bottom">

        <p>Copyright &copy; 2012 Zhejiang Omori sewing machine limited company All Rights Reserv, ICP </p>

        </div>
      </div>
    </div>

  </div>
</header>

<div id="content">
        
        <div class="shop"><div class="newsnr"></div>
          <div class="banner">
            <p class="above-heading">Product</p>
            <h2 class="donghua">Producto de la máquina de coser</h2>
          </div>

<div class="daohsngas">
      <div class="zhhjahsjd">
      <a href="/index.php/Index/sIndex?l=spain" class="icon_meta">{$Think.lang.T_HOME}</a> -
      <a href='{:U("product/sindex")}' class="icon_meta">{$Think.lang.T_PRODUCT}</a> -
      {$info['title']}</div>
      <div class="jahszhhjd">El teléfono gratuito: <b> 400-926-0070 </b> 
        <!-- form id="search" action="#" class="sousid" />
            <fieldset>
                <input type="text" name="search" class="txtsid" />
                <input type="submit" value="搜 索"  class="qdisjjd" />
            </fieldset>
       </form --> 
      </div>
    </div>

<div class="chanpnr donghua">
   <div class="anpchnr">
   <volist name="images" id="vo">

        <if condition="$key eq 0"><img src="{$vo['savepath']}" alt="{$info.title}" /></if>

   </volist>
   </div>
   <div class="chnanpr">
     <dl>
       <dt>{$info.psize}</dt>
       <dd>{$Think.lang.T_PRODUCT_ABOUT}</dd>
       
     </dl>
     <div class="clear"></div>
     <div class="fujsdf">
       <ul>
          <li><a href="/index.php/page/sindex/name/ca">Video </a></li>
          <li><a href="skype:CHINADOSO?call" target="_blank">skype</a></li>
          <li><a href="/index.php/message/sindex">El mensaje</a></li>
          <li><a href="/index.php/page/sindex/name/aggjm">La relación</a></li>
       </ul>
     </div>
     <div class="clear"></div>
     <div class="nondf">
    {$info['content']}
     </div>
   </div>
   <div class="clear"></div>
   <div class="xianggsc">
   <h1>Gyab puede Ping Xiang</h1>
   <div class="clear"></div>
   <product  limit="4" order="id DESC"  >
       <dl>
        <dt><a href='/index.php/product/sread/id/{$pro.id}'><img src="{:get_default_img($pro['image_id'])}"></a></dt>
        <dd>{$pro.title}</dd>
      </dl>
   </product>
      
   </div>
   <div class="clear"></div>
</div>



    <div class="popup">
        <div class="black-bg">
            <div class="content"></div>
        </div>
    </div>
        </div>

    <div class="footer">
                    <footer style="background-image:url(/img/banner-bg.jpg);background-repeat: no-repeat; background-size: cover; background-position: center center; height:150px">
                       

                        <div class="clear"></div>
                    </footer>
                </div>
                            
    </div>

<script src="/theme/js/app.js"></script>
<div style="display:none"><script src="http://s4.cnzz.com/stat.php?id=1255818854&web_id=1255818854" language="JavaScript"></script></div>
</body>
</html>